<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{page_layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${ not#lists.isEmpty(notaries)}">
    <table  class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">AFM</th>
            <th sec:authorize="hasRole('NOTARY')" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lawyer : ${notaries}">
            <td th:text="${notary.firstName}"></td>
            <td th:text="${notary.lastName}"></td>
            <td th:text="${notary.afm}"></td>
            <td sec:authorize="hasRole('NOTARY')">
                <button type="submit" th:id="${notary.id}"></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>